<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- UAT -->
		<add name="SanofiEntityConnectionString" connectionString="metadata=res://*/SanofiPriceCalculator.csdl|res://*/SanofiPriceCalculator.ssdl|res://*/SanofiPriceCalculator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XSNW70S493F,4567;Initial Catalog=SanofiPriceCalculation_UAT;User ID=SAEPRICE; password=Welcome123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="SanofiPriceCalculationEntities" connectionString="metadata=res://*/SanofiPriceCalculator.csdl|res://*/SanofiPriceCalculator.ssdl|res://*/SanofiPriceCalculator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XSNW70S493F,4567;Initial Catalog=SanofiPriceCalculation_UAT;User ID=SAEPRICE; password=Welcome123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="SanofiConnectionString" connectionString="Data Source=XSNW70S493F,4567;Initial Catalog=SanofiPriceCalculation_UAT;User ID=SAEPRICE; password=Welcome123" providerName="System.Data.SqlClient" />
		<!-- PROD -->
		<!--<add name="SanofiEntityConnectionString" connectionString="metadata=res://*/SanofiPriceCalculator.csdl|res://*/SanofiPriceCalculator.ssdl|res://*/SanofiPriceCalculator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XSNW70S493F,4567;Initial Catalog=SanofiPriceCalculation;Persist Security Info=True;User ID=SAEPRICE;Password=Welcome123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SanofiPriceCalculationEntities" connectionString="metadata=res://*/SanofiPriceCalculator.csdl|res://*/SanofiPriceCalculator.ssdl|res://*/SanofiPriceCalculator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XSNW70S493F,4567;Initial Catalog=SanofiPriceCalculation;Persist Security Info=True;User ID=SAEPRICE;Password=Welcome123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SanofiConnectionString" connectionString="Data Source=XSNW70S493F,4567;Initial Catalog=SanofiPriceCalculation;User ID=SAEPRICE; password=Welcome123" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
		</httpHandlers>
		<compilation debug="false" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<!--<sessionState mode="InProc" cookieless="false" timeout="1800">-->
		<sessionState mode="InProc" cookieless="false" timeout="120" />
		<!--<httpRuntime maxRequestLength="1800" executionTimeout="51200" />-->
		<httpRuntime maxRequestLength="2000000" executionTimeout="360000" />
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" protection="All" path="/" requireSSL="false" timeout="120" name=".ASPXAUTH" slidingExpiration="true" defaultUrl="Sessionexpired.aspx" cookieless="UseCookies" enableCrossAppRedirects="true" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="4.0">

			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<!--<add name="ImageHandler" path="ImageHandler.ashx" verb="*" type="Microsoft.Web.DynamicData.Handlers.ImageHandler"/>-->
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<directoryBrowse enabled="true" />
	</system.webServer>
	<appSettings>
		<add key="mailto" value="info@sanofi.com" />
		<add key="State" value="State Master" />
		<add key="State Code" value="State Master" />
		<add key="Sourcing State Code" value="State Master" />
		<add key="Reason" value="Reason Master" />
		<add key="Currency Code" value="Curreny Master" />
		<add key="TaxCalc" value="Tax Calculation Method" />
		<add key="Tax Type" value="Tax Type Master" />
		<add key="Tax Category" value="Tax Category Master" />
		<add key="Packaging Type" value="Packaging Type Master" />
		<add key="Excise Type" value="Excise Type Master" />
		<add key="Product Type" value="Product Type Master" />
		<add key="Product Category" value="Product Category Master" />
		<add key="Manufacturing Source Type" value="Manufacturing Source Type" />
		<add key="Product Family" value="Product Family Master" />
		<add key="Default UM Code" value="UM Master" />
		<add key="UM Code" value="UM Master" />
		<add key="Product BU" value="Product BU Master" />
		<add key="SAP Code" value="SAP Code Master" />
		<add key="Default Map Code" value="Map Master" />
		<add key="Map Code" value="Map Master" />
		<add key="Pack Type" value="PackType" />
		<add key="MRP On" value="MRPOn" />
		<add key="Sales Organisation Code" value="Sales Organisation Master" />
		<add key="ADSUserName" value="kpit\vikramg" />
		<add key="ADSPassword" value="systime@2012" />
		<add key="MaximumIteration" value="5" />
		<add key="MaxDifference" value="0.0001" />
		<add key="NDP" value="Z300" />
		<add key="OutputFileFormat" value="xls" />
		<add key="ExportPriceListFileLocation" value="~/ExportedPriceLists/" />
		<add key="ExportPriceListFileSAPLocation" value="\\sgpudatas01\CKS\IN\epricing\input\" />
		<add key="CentralTaxMethodCode" value="CTAX" />
		<add key="SilentSave" value="true" />
		<add key="WithoutDomain" value="true" />
		<add key="publishedON" value="UAT" />
		<add key="DefaultstateCode" value="MH" />
		<add key="PriceApprPackType" value="SALES" />
		<add key="NotificationConfig" value="NotificationConfig.xml" />
		<!--<add key="mailNotification" value="Yes" />
    <add key="pricemailto" value="India.swift@sanofi.com" />
    <add key="pricemailtosmtpServer" value="info@sanofi.com" />
    <add key="pricemailtoportNo" value="587"/>
    <add key="pricemailtomailfrom" value="info@sanofi.com" />-->
		<add key="sendMail" value="No" />
		<!-- "Yes" to send mails to actual users-->
		<add key="mailHostsmtpServer" value="smtp-ap.sanofi.com" />
		<add key="mailPortNo" value="25" />
		<add key="usrname" value="India.Epricing@sanofi.com" />
		<add key="usrswift" value="pharma\\E0167116" />
		<add key="pwd" value="Welcome123" />
		<add key="mailTo" value="India.swift@sanofi.com;Parth.Beladiya3@sanofi.com" />
		<add key="mailFrom" value="India.epricing@sanofi.com" />
		<add key="mailSubject" value="e-Pricing Form submitted" />
		<add key="LandingPage" value="http://xsnw10w300w/LandingPage.aspx" />
		<add key="PlantAdminConst" value="Plant Admin" />
		<add key="TherapyHeadConst" value="Therapy Head" />
		<add key="TherapyHeadRoleID" value="35" />
		<add key="ProductManagerConst" value="Product Manager" />
		<add key="ProductManagerRoleID" value="49" />
		<add key="EPAFApprovalLastApproverRoleID" value="57" />
		<add key="EPAFLongApprovalLastApproverRoleID" value="38" />
		<add key="PriceCoordinatorRoleID" value="37" />
		<add key="EPAFApprovalValidRoleID" value="59,37,57" />
		<add key="EPAFLongApprovalValidRoleID" value="59,37,57,38" />
		<add key="EPAFApprovalURL" value="http://xsnw70w973w/DynamicData.Web.UI/" />
		<add key="ActualUserSendMail" value="No" />
		<add key="TestMailTo" value="Parth.Beladiya3@sanofi.com;" />
		<add key="FromMail" value="India.epricing@sanofi.com" />
		<add key="CCmail" value="SaurabhS.Singh@sanofi.com" />
		<add key="ErrorLogFile" value="C:\ePricing\ErrorLogs" />
		<add key="RaiseWorkFlow.RaiseWF" value="http://xsnw10w298w:7878/RaiseWF.asmx" />
		<add key="EpricingMiniEPAFApprovalPages" value="productsproposeprice.aspx;productspriceaction.aspx;plantadminprodproposedprice.aspx;productsproposepricecontrolled.aspx" />
		<add key="EpricingAcceptStatus" value="accept_partial" />
		<add key="EpricingIncreaseStatus" value="increase_partial" />
		<add key="EpricingDecreaseStatus" value="decreaseinitiated" />
		<add key="EpricingRejectStatus" value="rejectinitiated" />
		<!--RITM2428774 - Mail Trigger for changes in Product Master-->
		<add key="mailToAdminUserProductUpdation" value="Manikandan.Manokaran@sanofi.com" />
		<add key="mailSubjectProductModification" value="e-Pricing Product Modified" />
		<add key="ProductFamilyMasterModuleID" value="17"/>
		<add key="ProductBUMasterModuleID" value="18"/>
		<add key="SalesOrganisationMasterModuleID" value="22"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IGetEmail" closeTimeout="02:01:00" openTimeout="02:01:00" receiveTimeout="02:10:00" sendTimeout="02:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="64000000" maxReceivedMessageSize="64000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://Localhost:121212/GetEmail.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetEmail" contract="GetEmailService.IGetEmail" name="BasicHttpBinding_IGetEmail" />
		</client>
	</system.serviceModel>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="smtp-ap.sanofi.com" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>